{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %} 

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}

{% block title %}
{{ event.name }}
{% endblock %}

{% block content %}
    <h2> This is round {{ current_round }} in season {{ season }} </h2>
    <h1> {{ event.name }} </h1>
    <p>{{ event.flavor_text }}</p>

    <button id="end_round" class="float-left submit-button" >Click when everyone has taken their turn</button>

    <script type="text/javascript">
    document.getElementById("end_round").onclick = function () {
        location.href = "/energy_decision";
        };
    </script>

{% endblock %}