{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %} 



{% block title %}
Welcome!
{% endblock %}

{% block content %}
    <h1> Hello and welcome to Energy City! </h1>
    <p> 
        I am the Community Digital Intelligence v2, but you can call me CoDI-2. 
        I am the intelligent energy system that will help us thrive as we embark on our journey for sustainability this next year. 
        My job is to ensure that we have enough energy for everybody to stay warm and keep the lights on. 
        I would prefer to distribute energy produced within the community in order to make this happen, but I will find a solution - no matter what!
    </p>

    <p>
        As you may know, Energy City is a newly established energy community where we focus on producing and consuming renewable energy produced locally. 
        We have been tasked to prove this is possible by reaching three goals by the end of the year. 
        We should: 
        <ul>
            <li>have a thriving economy</li>
            <li>have a green and luscious environment</li>
            <li>keep the public morale high</li>
        </ul>
        In order to do this, we need the help of you - all the citizens of Energy City!
    </p>

    <p>
        You will work together not only with your fellow citizens, but also local businesses and public institutions. 
        Big Dave’s Pizza has installed plenty of solar cells, while PlexCorp’s production processes generate heat to warm up Energy City’s houses. 
        At Lake May Hospital, the water mill is spinning and providing us with energy. 
        Lastly, the huge roof of Sunny Side Elementary School now serves as a home for even more solar cells.
    </p>

    <p>
        A community is built on its citizens. 
        Therefore, it is important that you help out. 
        In order to encourage collaboration, Energy City has decided to host the “Citizen of the Year”-competition. 
        The citizen who contributes the most to Energy City this next year will become the Citizen of the Year - we hope that you will participate.
    </p>

    <h2>Thank you so much for being part of Energy City. We look forward to getting to know you all.</h2>

	<button id="begin" class="float-left submit-button" >Go to your first season!</button>

    <script type="text/javascript">
    	document.getElementById("begin").onclick = function () {
        location.href = "/season";
	  };
    </script>
{% endblock %}