{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %} 



{% block title %}
Goodbye!
{% endblock %}

{% block content %}
    <h1>Our last town hall meeting! </h1>
    <p>
        Dear citizens. Thank you all for spending an entire year here in Energy City.
        We hope that you have all had a good time and that you have been satisfied with how we run things.
        If not, we encourage you to voice this - along with any other thoughts you have had about partaking in our energy community.
    </p>
    <p>
        With an end comes a goodbye. But in terms of A Year in Energy, a point tally comes before we can say goodbye.
        Take a look at the board to determine if we have reached our goals. If we have not, reflect on why that is and what we could have done better.
        If we <i>have</i> reached all three goals, congratulations! It is now time to crown the citizen of the year!
    </p>
    <p>
        To do this, everyone should count the citizen points on their house and the number of action cards they own that match their player color.
        After adding these two numbers together, the person with the highest total wins!
    </p>

{% endblock %}