{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %} 



{% block title %}
Enter your tokens!
{% endblock %}

{% block content %}
	

<h1 id="player_title">{{player_object.role.upper()}}</h1>

<h4>It is round {{current_round}}.</h4>
<h4>You received {{player_object.base_tokens}} from the CoDI-2 algorithm this round. </h4>
<h4>You have {{player_object.tokens}} tokens that you can spend!</h4>
<p>
    {{wtf.quick_form(form)}}
</p>

{% if player_object.role != "yellow"%}
    <script>
        // script which gets the id of the form for the yellow player's action, and sets it to dispaly nothing if the player is not yellow
        form_id = "{{form.tokens_yellow_first_action.id}}"
        document.getElementById(form_id).style.display = "None";
        
    </script>
{% endif %}

<script>
    document.body.style.backgroundColor = "{{player_object.bg_color}}";
    document.getElementById("player_title").style.color = "{{player_object.title_color}}";
</script>

{% endblock content%}