{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %} 



{% block title %}
Enter your tokens!
{% endblock %}

{% block content %}
	
<div style="margin: auto; width: 50%;">
<h1><span style="">{{player_object.role.upper()}}</span></h1>
</div>
<h4>It is round {{current_round}}.</h4>
<h4>You received {{player_object.base_tokens}} from the CoDI-2 algorithm this round. </h4>
<h4>You have {{player_object.tokens}} tokens that you can spend!</h4>
<div class="form-control " style="margin: auto; width: 50%; background-color: transparent; border-style: hidden;">

    <form action="{{ url_for(player_object.role+"_player") }}" method="post">
        {{ form.tokens_action_cards.label(form.tokens_action_cards.label.text) }}
        {{ form.tokens_action_cards(class="form-control") }}
        {{ form.tokens_player_actions.label(form.tokens_player_actions.label.text) }}
        {{ form.tokens_player_actions(class="form-control") }}
        {{ form.tokens_battery.label(form.tokens_battery.label.text) }}
        {{ form.tokens_battery(class="form-control") }}

        {{form.tokens_yellow_first_action.label("Have you used your player action which requires 3 more energy units?", id__ ="yellow_label")}}
        <br>
        {{form.tokens_yellow_first_action(class="") }}
        <br>
        {{ form.submit(class="btn btn-outline-info") }}
    </form>

</div>

{% if player_object.role != "yellow"%}
    <script>
        // script which gets the id of the form for the yellow player's action, and sets it to dispaly nothing if the player is not yellow
        form_id = "{{form.tokens_yellow_first_action.id}}"
        document.getElementById(form_id).style.display = "None";
        document.getElementById("yellow_label").hidden = "hidden";
        
    </script>
{% endif %}

{% endblock content%}