{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %} 



{% block title %}
{{ season.name }}
{% endblock %}

{% block content %}
    <h1> {{ season.name }} </h1>
    <p>{{ season.flavor_text }}</p>

	<button id="start_season" style="float: right" class="float-right btn btn-info submit-button">Go to the round!</button>

    <script type="text/javascript">
    	document.getElementById("start_season").onclick = function () {
        location.href = "/event";
	  };
    </script>
{% endblock %}