{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %} 



{% block title %}
{{ season.name }}
{% endblock %}

{% block content %}
    <body style="background-color:#AEAEAE;">
    <h1> {{ season.name }} </h1>
    <p>{{ season.flavor_text }}</p>

	<button id="start_season" class="float-left submit-button" >Go to the round!</button>

    </body>

    <script type="text/javascript">
    	document.getElementById("start_season").onclick = function () {
        location.href = "/event";
	  };
    </script>
{% endblock %}