{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %} 


{% block title %}
Town Hall Meeting
{% endblock %}

{% block content %}
	<body style="background-color:#AEAEAE;">
    <h1> Welcome to a town hall meeting! </h1>
    <p>Welcome to our quarterly town hall meeting!
	We use these meetings as opportunities to figure out if Energy City is on the right track.
	</p>

	<p>Throughout this past season, we have experienced:</p>
	<ul>
	{% for event in chosen_events %}
		<li>{{event.thm_text}}</li>
	{% endfor %}
	</ul>

	<p>
		How do you feel we handled these experiences? Are there things about how we currently handle things you would like to change? 
		How is life in Energy City for you as a citizen?
	</p>

	<p>
		In order to make things even better for you, we have provided some options to upgrade our current systems. 
		After you’ve discussed life in Energy City, please proceed to choosing your desired upgrade!
	</p>

	<button id="start_vote" class="float-left submit-button" >Proceed to community upgrade</button>
	
	</body>
	
	<script type="text/javascript">
	document.getElementById("start_vote").onclick = function () {
		location.href = "/upgrades";
	};
	</script>
{% endblock %}