{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}
Town Hall Meeting - Upgrades
{% endblock %}

{% block content %}
    <body style="background-color:#AEAEAE;">
    <h1> You can choose from the following upgrades: </h1>
    <p>
    <form action="/upgrades" method="post" id="choose_upgrade">
        {% for upgrade in upgrade_list %}
            <input type="radio" name="radio_choice" value={{upgrade.ID}} id={{upgrade.ID}}>
            <label for={{upgrade}}> <b>{{ upgrade.name }}:</b> {{ upgrade.flavor_text }} </label><br><br>
            <br>
        {% endfor %}
    <input type="submit" value="Choose upgrade!">
    </form>
    </p>
    </body>
{% endblock %}