{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}
Welcome!
{% endblock %}

{% block content %}

<body style="background-color:#AEAEAE;"></body>

    <h1>THE<br>WAITING<br>ROOM</h1>
    <blockquote>Press the button below when it is your turn again. Do not proceed before, as you may not receive all your tokens.</blockquote>

    <button type="button" class="btn btn-info" id="back" >The next round has started</button>


    <script type="text/javascript">
        // get the site that referred us to this page
            lastURL = document.referrer;
            console.log(lastURL);
            console.log("hello");
        	document.getElementById("back").onclick = function () {
                location.href=lastURL
    	};
    </script>

{% endblock %}